@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poller+One&display=swap');

body {
    background-color: peachpuff;
    font-family: 'Poiret One';
    font-weight: bolder;
}

#headone, 
#headtwo {
    display: inline;
    text-decoration: underline;
}
#headone {
    margin-left: 200px;
}

#headtwo {
    margin-left: 900px;
}

#skills-tab {
    margin-left: 1300px;
}

p {
    font-size: 25px;
}


