@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poller+One&display=swap');

body {
    background-color: peachpuff;
    font-family: 'Poiret One';
    font-weight: bolder;
}

#headone {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

#headtwo {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
    font-size: 25px;
}

.fa-html5,
.fa-js,
.fa-css3-alt,
.fa-react {
    font-size: 80px;
    display: flex;
    justify-content: center;
    /* text-align: inline-block; */
}

div {
    margin-left:auto;
    margin-right: auto;
    text-align: inline-block;
}

#title {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

button {
    display: center;
}

#resume {
    background-color: peachpuff;
    border-radius: 50%;
    font-family: 'Poiret One';
    font-size: 50px;
    border: 2px solid peachpuff
}

@media only screen and (max-width: 768px)  {
    body {
        border: 10px solid peachpuff;
    }
}
