@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poller+One&display=swap');

body {
    background-color: peachpuff;
    font-family: 'Poiret One';
    font-weight: bolder;
}

#headerone, 
#headertwo {
    display: inline;
    text-decoration: underline;
}
#headerone {
    margin-left: 200px;
}

#headertwo {
    margin-left: 900px;
}

#skills-tab {
    margin-left: 1300px;
}

#about-me {
    font-size: 25px
}