@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poller+One&display=swap');

body {
    --text-light: rgba(255,218,185);
    --secondary-dark: rgba(255,218,185);
    --dark-mode: rgba(68,92,109);
    background-color: var(--text-light);
    font-family: 'Poiret One';
    font-weight: bolder;
}


img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
    border: solid 4px;
}

h1,
p, 
h4 {
    text-align: center;
    margin: 0 auto;
}

.intro {
    padding: 20px;
    text-align: center;
    margin: 0 auto;

}

h1 {
    font-size: 45px;
}

h4 {
    font-size: 25px;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color:antiquewhite;
    text-decoration: none;
}

.links {
    display: inline;
    padding-inline: 100px;
    font-size: 25px;
    text-align: center;
}


.fa-github,
.fa-linkedin,
.fa-envelope {
    font-size: 80px;
    margin: 35px;
    margin-left: 40px;
    margin-top: 50px
    
}

div {
    text-align: center
}

.sub-links {
    width: 100%
}


@media only screen and (min-width: 768px) {
    body {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 50px auto 30px;
      
    }
  }